:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'OpenSans', sans-serif;
    --gris: #E1E1E1;
    --gris-oscuro: #9C9C9C;
    --blanco: #FFFFFF;
    --negro: #000000;
    --azul: #115C9F;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */

.contenedor {
    display:flex;
    width: min(90%, 120rem);
    margin: 0 auto;

}

a {
    text-decoration: none;
}

img {
    width: auto;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

img {
    max-width: 100%;
}

/* Utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    display:flex;
    text-align: center;
    align-items:center;
}

.header {
    display:flex;
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--azul);
    justify-content: left;
    
}

.logo {
display:flex;
    color: var(--blanco);
}
.logo__nombre {
    display:flex;
    align-items: center;
    font-weight: normal;
}


/* Contenido */

.boton {
    color: var(--negro);
    background-color: var(--gris);
    /*text-align: center;*/
    font-size: 1.8rem;
    font-weight: 700;
    /*text-transform: uppercase;*/
    margin: 1rem;
    height:5rem;
    width:8rem;
    /*margin-top: 1rem;
    margin-bottom: 1rem;*/
    border: none;
    border-radius: 1rem;
}

.boton:hover {
    cursor: pointer;
}

.interruptor{
    width: 15rem;
}


